.banner
{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: blue;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url("https://ih1.redbubble.net/image.1317840388.0531/poster,840x830,f8f8f8-pad,1000x1000,f8f8f8.jpg");
}
  
.banner-container
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container h1
{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
  