.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Estilos para la clase activa */
.active {
  opacity: 1;
}

/* Oculta todas las diapositivas excepto la activa */
.slides img:not(.active) {
  opacity: 0;
  transition: opacity 0.5s;
}
